.card {
  border: 10px solid chocolate;
  border-radius: 20px;
  margin-left: 2rem;
  margin-top: 2rem;
  background-color: darkslateblue;
  width: fit-content;
  height: fit-content;
}

h1 {
  text-align: center;
  font-size: 35px;
  font-style: oblique;
  font-family: Impact;
}

img {
  width: fit-content;
  border-radius: 40px;
}